{% extends "history_sidebar.html" %}

{% block main_content %}
<div class="container mt-5">
    <h2 class="text-center">챗봇과의 대화</h2>
    <div class="chat-container" id="chatContainer" style="height: 60vh; overflow-y: auto;">
        {% for history in chat_histories %}
            <div class="message user-message">{{ history.user_question }}</div>
            {% if history.maked_text %}
                <div class="message bot-message">{{ history.maked_text }}</div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="input-group mt-3">
        <input type="text" class="form-control" id="userInput" placeholder="메시지를 입력하세요.">
        <input type="hidden" id="threadId" value="{{ thread_id }}">
        <div class="input-group-append">
            <button class="btn btn-primary" id="sendButton">전송</button>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{{ url_for('static', filename='js/shared.js') }}"></script>
<script>
    const baseUrl = "/chatbot";
    
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById('sendButton').addEventListener('click', sendMessage);
        document.getElementById('userInput').addEventListener('keydown', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                sendMessage();
            }
        });
        updateSidebar('/chatbot/get_history', (historyId) => loadChatHistory(historyId, '/chatbot'));
    });

    async function sendMessage() {
        const userInput = document.getElementById('userInput').value;
        const threadIdInput = document.getElementById('threadId');
        let threadId = threadIdInput.value;
        if (!userInput) return;

        const userMessageDiv = document.createElement('div');
        userMessageDiv.className = 'message user-message';
        userMessageDiv.textContent = userInput;
        document.getElementById('chatContainer').appendChild(userMessageDiv);
        document.getElementById('userInput').value = '';
        document.getElementById('userInput').setAttribute('placeholder', '로딩 중...');

        try {
            const response = await axios.post('/chatbot/chat', { message: userInput, thread_id: threadId });
            const botMessageDiv = document.createElement('div');
            botMessageDiv.className = 'message bot-message';
            botMessageDiv.textContent = response.data.response;
            document.getElementById('chatContainer').appendChild(botMessageDiv);
            
            // 업데이트된 thread_id 저장
            threadIdInput.value = response.data.thread_id;
            document.getElementById('userInput').setAttribute('placeholder', '메시지를 입력하세요.');
            await updateSidebar('/chatbot/get_history', (historyId) => loadChatHistory(historyId, '/chatbot'));
        } catch (error) {
            console.error('서버와의 통신 오류:', error);
            document.getElementById('userInput').setAttribute('placeholder', '오류 발생. 다시 시도해 주세요.');
        }
        document.getElementById('chatContainer').scrollTop = document.getElementById('chatContainer').scrollHeight;
    }

    async function loadChatHistory(threadId, baseUrl) {
        try {
            const response = await axios.get(`${baseUrl}/get_chat/${threadId}`);
            const chatContentDiv = document.getElementById('chatContainer');
            chatContentDiv.innerHTML = '';
            response.data.chat_history.forEach(history => {
                if (history.user_question) {
                    const userDiv = document.createElement('div');
                    userDiv.className = 'message user-message';
                    userDiv.textContent = history.user_question;
                    chatContentDiv.appendChild(userDiv);
                }
                if (history.maked_text) {
                    const botDiv = document.createElement('div');
                    botDiv.className = 'message bot-message';
                    botDiv.textContent = history.maked_text;
                    chatContentDiv.appendChild(botDiv);
                }
            });

            // thread_id 업데이트
            document.getElementById('threadId').value = response.data.thread_id;
            document.getElementById('chatContainer').scrollTop = chatContentDiv.scrollHeight;
        } catch (error) {
            console.error('채팅 기록 불러오기 오류:', error);
            const chatContentDiv = document.getElementById('chatContainer');
            chatContentDiv.innerHTML = `<p>기록을 불러오는데 오류가 발생했습니다.</p>`;
        }
    }
</script>
{% endblock %}
